.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.py-1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.pl-1{
    padding-left: 0.5rem;
}
.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-2{
    padding-left: 1rem;
    padding-right: 1rem;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.h-100vh{
    height: 100vh;
}

.h-80{
    height: 80%;
}

.w-100{
    width: 100%;
}


.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.hide{
    display: none;
}

.white  {
    color: white;
}

.w-100{
    width: 100%;
}


