body{
    margin: 0;
    background-color: rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 500px;

    background-color: rgb(241,241,241);
    box-shadow: 3px 4px 10px grey;
}

#list-messages {
    list-style: none;
    overflow-y: scroll;
    align-self: start;
    height: 100%;
    width: 95%;
}

#list-messages>li{
    background-color: #d1e7ff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 70%;
    width: fit-content;
}
.message-author{
    color: rgb(29, 117, 218);
    font-size: 0.85rem;
    font-weight: bold;
}
.avatar{
    position: relative;
    top: 20px;
    left: 5px;
    border-radius: 50%;
    background-color: rgb(255, 196, 118);
    border-style: solid;
    border-width: 0px;
    font-size: 0.8rem;
    padding: 0.75rem;
}
#input-message{
    font-size: 1rem;
    border: none;
    outline: none;
}

#nav-online{
    box-shadow: 3px 4px 10px grey;
    background-color: rgb(76, 155, 245);
    height: 58px;

}